<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <link href="/static/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- Le styles -->
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 20px;
                padding-bottom: 40px;
            }

            /* Custom container */
            .container-narrow {
                margin: 0 auto;
                max-width: 800px;
            }
            .container-narrow > hr {
                margin: 10px 0;
            }

            .jumbotron {
                margin: 60px 0;
                text-align: center;
            }
            .jumbotron h1 {
                font-size: 72px;
                line-height: 1;
            }
            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
            }

            .messages {
                scroll: auto;
            }
            .messages  tr:nth-child(odd)       { background-color:#eee; }
            .messages  tr:nth-child(even)      { background-color:#fff; }
        </style>
        <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="../static/js/html5shiv.js"></script>
        <![endif]-->
        <script src='http://static.opentok.com/webrtc/v2.0/js/TB.min.js'></script>
        <script src='../static/js/video.js'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        <script src="http://{{ orbited_server }}:{{ orbited_port }}/static/Orbited.js"></script>
        <script src="http://{{ orbited_server }}:{{ orbited_port }}/static/protocols/stomp/stomp.js"></script>
        <script>
            document.domain = document.domain;
            Orbited.settings.port = {{ orbited_port }};
            Orbited.settings.hostname = document.domain;
            TCPSocket = Orbited.TCPSocket
            $(document).ready(function() {
                stomp = new STOMPClient();
                stomp.onerror = function(error) {
                    alert("Error:" + error);
                };
                stomp.onclose = function(c) {
                    alert("Lost connection, Code:" + c);
                };
                stomp.onconnectedframe = function(){
                    console.log('Connected. Subscribing');
                    stomp.subscribe("/messages");
                };
                stomp.onmessageframe = function(frame){
                    function add_message(msg) {
                        console.log(msg);
                        $("<tr><td width='100%' align='left'>" + msg["nick"] + " : " + msg["message"] + " at " + msg["time"] + "</td></tr>").appendTo("#messages")
                    };
                    add_message(JSON.parse(frame.body));
                    $('#messages').animate({
                        scrollTop: $('#messages').get(0).scrollHeight
                    }, 1500);
                };
                setTimeout(function () {
                    stomp.connect(document.domain, {{ orbited_stomp_port }});
                }, 500);
                $("#send").click(function(data) {
                    var message = $("#message").val();
                    var nick = $("#nick").val();
                    var cseid = $("#cseid").val();
                    $.post("/message/addMessage/", {"message":message, "nick":nick, "cseid":cseid});
                    $("#message").val("")
                })
                $("input").bind("keydown", function(event) {
                    var keycode = (event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode));
                    if (keycode == 13) {
                        document.getElementById('send').click();
                        return false;
                        } else  {
                        return true;
                    }
                });
                $('#messages').scrollTop($('#messages').get(0).scrollHeight);
            });
        </script>
        </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li><a href="#">Browse Courses</a></li>
                    <li><a href="#">Leader board</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="muted">Learn Together</h3>
            </div>
            <hr/>
            <div id='videoroom' class="jumbotron" style="clear: width:600; height:300; border:1px solid red;">
                <div id="game" style="float:right; width:150; height:300;border-left:1px solid red;">
                    {% for user_game_point in user_game_points %}
                        <div class="game_user">
                            {% with user=user_game_point.user %}
                            <span class="user_points">{{ user.total_points }}</span>
                            <span class="user_name">{{ user.first_name }} {{ user.last_name }}</span>
                            <button class="give_points" data-user="{{ user.id }}" data-session="{{ user_game_point.collab_session_event.id }}">Great Comment</button>
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                <script>
                    $('.give_points').click(function() {
                        /* give the user points */

                        var $this = $(this),
                            user_id = $this.data('user'),
                            session_id = $this.data('session'),
                            $points = $this.siblings('.user_points'),
                            points = parseInt($points.val(), 10);

                        // update the user's points in the db
                        $.post('/points/' + session_id + '/' + user_id);

                        // update the user's points on the page
                        points += 5;
                        $points.val(points.toString());
                    });
                </script>
                <div id='publisher' style='float:'> </div>
                <div id="stream-container-1"></div>
                <div id="stream-container-2"></div>
                <div id="stream-container-3"></div>
                <div id="stream-container-4"></div>
            </div>
            <div class="row-fluid" style='clear:both;border:1px solid #ddd;'>
                <div id="messages">
                    <table width='100%'>
                    <tr style='background-color:#ddd'><td>Message</td></tr>
                    {% for message in messages %}
                    <tr><td width='100%' align='left'>{{message.nick}} : {{message.message}} at {{message.time|date:"H:i-d/m/Y"}}</td></tr>
                    {% endfor %}
                    </table>
                </div>
                <div id="new_message" style='width:100%'>
                    <form onSubmit="javascript:return false;">
                        <input type="hidden" name="cseid" value="{{collab_session_id}}" id="cseid"></input>
                        <input placeholder="Your nick" type="hidden" name="nick" value="{{user.first_name}}" id="nick"></input>
                        <br/>
                        <input placeholder="Message" type="text" name="message" value="" id="message" style="width:80%"></input>
                        <input type="submit" id="send" value="Send">
                    </form>
                </div>
            </div>
            <hr/>
            <div class="footer">
                <p>&copy; NycBigApp Hackathon 2013 </p>
            </div>
        </div>
    </body>
</html>

<div>
</div>
